<div class="container-fluid mt-3">
  <div class="row">
    <div class="col text-center">
      <div id="header-section">
        <h1 class="h4">Todo App</h1>
        <h2 class="h5">
          A quick-and-dirty todo app to demonstrate full-stack proficiency,
          written in Angular and Go
        </h2>
      </div>
    </div>
  </div>

  <div class="row">
    <app-todo-creator
      class="col-12 my-3"
      (created)="onTodoCreated($event)"
    ></app-todo-creator>
  </div>

  <div class="row">
    <app-todo-item
      class="col-xl-6 mb-3"
      *ngFor="let todo of todoList"
      [todo]="todo"
      (toggled)="onTodoToggled($event)"
      (removed)="onTodoRemoved($event)"
    ></app-todo-item>
  </div>
</div>
